numpy==1.23
pyhocon==0.3.59
torch==1.7.1
torch_geometric==2.0.0
torchvision==0.8.2
torch_scatter==2.0.5
torch-sparse==0.6.9
imageio==2.23.0
tensorboard==2.11.0
tensorboardX==2.5.1
Pillow==9.5.0
scikit-image==0.18.1
tqdm
opencv-python
pandas
plyfile
dotmap
rtree
future
icecream
matplotlib
PyMCubes
prefetch_generator
chumpy
trimesh
